body{
    position: relative;
    width: 1440px;
    height: 1024px;

    background-color: #131313;
    color: azure;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: calc(50% - 120px/2 - 620px);
    top: 40px;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 10px;
}

.encrypted-text{
    position: absolute;
    width: 577px;
    height: 500px;
    left: calc(50% - 577px/2 - 191.5px);
    top: 168px;
    padding: 10px;

    resize: none;

    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    line-height: 150%;

    color: #FFF;

    background: transparent;

    border: 2px solid #000;
    border-radius: 15px;
}

.rectangle{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    padding: 15px;
    
    /* White */
    
    background: transparent;
    /* shadow */
    
    box-shadow: 0px 24px 32px -8px #000;
    border-radius: 15px;
}

.decrypted-text{
    margin: 25px;
    width: 83%;
    height: 80%;

    resize: none;
    position: center;
    padding: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    line-height: 150%;

    border: 2px solid #000;
    border-radius: 15px;

    background-color: transparent;
    color: #FFF;
}

.button-decrypted{
    margin: 0px 32px 0 32px;
    width: 336px;
    height: 67px;

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;

    color: #0A3871;
    background-color: #86868B;
    
    border: 2px solid #0A3871;
    border-radius: 24px;

    transition: all 0.5s;
    padding: 1ch 2ch;

    font-family: Roboto, sans-serif;
    border-radius: 1.05em;
    box-shadow: 2px 2px 0px hsl(0, 0%, 90%),
      4px 4px 0px hsl(0, 0%, 80%),
      6px 6px 0px hsl(0, 0%, 70%),
      8px 8px 0px hsl(0, 0%, 60%),
      10px 10px 0px hsl(0, 0%, 50%),
      12px 12px 0px hsl(0, 0%, 40%),
      14px 14px 0px hsl(0, 0%, 30%),
      16px 16px 0px hsl(0, 0%, 20%),
      18px 18px 0px hsl(0, 0%, 10%);

}

.button-decrypted:hover {
    box-shadow: 0 0 20px #6fc5ff50;
    transition: 0.5s;

    box-shadow: none;
  }

  .use-warning{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-size: 20px;
    
    position: absolute;
    width: 270px;
    height: 18px;
    left: 240px;
    top: 851px;
    color: #FFF;
    opacity: 0.8;
  }

  .crypt-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
    
  }

  .encrypt-button{
    background-color: #86868B;
    color: #FFF;
    border: 2px solid #0A3871;
    border-radius: 5px;
    margin: auto;
    padding: 10px 15px;
    width: 328px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #6fc5ff50;
    transition: all 0.2s ease-in-out;
  }

  .encrypt-button:hover{
    color: #2f3640;
    border-color: #2f3640;
    box-shadow: 2px 2px 20px #6fc5ff50;
    transform: translateY(-2px);
  }

  .decrypt-button{
    background-color: #86868B;
    color: #FFF;
    border: 2px solid #0A3871;
    border-radius: 5px;
    margin: auto;
    padding: 10px 15px;
    width: 328px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #6fc5ff50;
    transition: all 0.2s ease-in-out;
  }
  
  .decrypt-button:hover{
    color: #2f3640;
    border-color: #2f3640;
    box-shadow: 2px 2px 20px #6fc5ff50;
    transform: translateY(-2px);
  }

  footer{
    color: #FFF;
  }